

*{
    margin : 0;
    padding: 0;
    font-family: sans-serif;
}

/*Header  --*/

.container{
 
  max-width: 1110px;
  margin-left: auto;
  margin-right: 500px;
}

.header{
  height: 112px;
  width: 100%;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.navBar-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.navBar-wrapper div{
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  margin-top: 28px;

}

/*Header  --*/


/*Descrição  --*/


.footer-cor{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-core{
  flex-basis: 100%;
  padding: 10px;
  margin-bottom: 5px;
  line-height: 2;
  list-style: none;
  display: inline-block;
  padding: 3px 5px;
  position: relative;
}


.l2-title{
    font-size: 2rem;
    line-height: 1.8px;
    color:#DAA520;
    font-family: 'Courier New', Courier, monospace;
  }
  .l1-title{
    display: block;
    color:#DAA520;
    font-weight: 300;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
    font-family: 'Courier New', Courier, monospace;
  }

.casa-1{
    padding: 4rem 0;
}


.title-global{
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }



.container{
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
  }

/*Descrição  --*/

/*A Casa_Galeria  --*/


.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px ;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;

}

.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}


.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

}

.full-img img{
    width: 90%;
    max-width: 500px;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: blanchedalmond;
    cursor: pointer;

}

/*A Casa_Galeria  --*/

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    font-size: 16px;
  }

  .column h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;

  }

  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .center {
    display: block;
    margin-left: 400px;
    width: 50%;
    
  }

  .text_a h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
  }

 
.text {

  font-family:Georgia, 'Times New Roman', Times, serif;

}

/*Descrição  --*/

  
/*Footer  --*/

#footer{
  padding: 50px 30px 20px;
  background-color: black;
}

.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left, .footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 5px;
  line-height: 2;
}

.footer-right{
  text-align: right;
  padding-top: 0px;
  line-height: 2;
  color:white;
  

}

.footer-right a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
}


.footer-right a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.footer-row p{
  line-height: 35px;
}

.footer-row {
  color: #fff;
}

.title-text {
  font-weight: bold;
  font-size: 20px;
  color: #DAA520;
  position: relative;
  padding-left: 100px;

}

/*Footer  --*/



