*{
    margin : 0;
    padding: 0;
    font-family: sans-serif;
}


/*Cabeçalho --*/

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.75)), url(../Pictures/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{

    width: 150px;
}

.nav-links{

    flex: 1;
    text-align: right;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.nav-links ul li::after{

    content: "";
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;

}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{

    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.text-box h1{
    font-size: 62px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}


/*A Casa  --*/

.col-md-6 h2{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #DAA520;
    font-size: 20;

}



#offer{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    background-image: linear-gradient(
        to right,
        white 0%,
        white 50%,
        #DAA520 50%,
        #DAA520 100%   )

}

.footer-cor{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-core{
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 5px;
    line-height: 2;
    list-style: none;
    display: inline-block;
    padding: 3px 5px;
    position: relative;
}

.footer-core{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10px;
  }
  

.zbout-img{
    float:right;

}

.imagem-section{
    margin-left: 800px;
    position: absolute;
    margin-top: -220px;
   
}


#offer .btn{

    margin-top: 20px;
    margin-bottom: 30px;
}

.zbout-content{
    padding-top: 20px;

}

/*A Casa --*/



/*Galeria--*/

.foto_us{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.75)), url(../Pictures/About_us.jpg);
    background-size: cover;
    background-position: center;
    position: relative;


}



.titlle-tex{

    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 3;
}

.titlle-tex h5{

    font-size: 50px;
    font-family: ‘CernBold’, sans-serif;
    font-weight: bold;

    
    
}

.titlle-tex p5{

    margin: 40px 20px 40px;
    font-size: 15px;
    margin-bottom: 40px;
    font-family: ‘CernBold’, sans-serif;
    color: #fff;
    line-height: 1.2;
    
}







/*--testemunhos---*/

#testemunhos{
    width: 100%;
    padding: 20px 0;
    background: #DAA520;
    text-align: center;
    font-family: ‘CernBold’, sans-serif;
}

.test h6 {

    line-height: 1;
    font-weight: bold;
    font-size: 15px;
    color:azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    
}

.test p6 {
    line-height: 3;
    font-weight: bold;
    font-size: 40px;
    color:azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}
.test-row{

    width: 80%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: ‘CernBold’, sans-serif;
    
}


.test-col{

    line-height: 1.5;
    flex-basis:28%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #efefee;
    cursor: pointer;
    transition:transform 0.5s;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
} 

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}

.test-col:hover{
    transform: translatey(7px);

}


/*--Footer---*/


#footer{
    padding: 100px 30px 20px;
    background-color: black;
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right{
    flex-basis: auto;
    padding: 10px;
    margin-bottom: 5px;
    line-height: 2;
}

.footer-right{
    text-align: right;
    padding-top: 0px;
    line-height: 2;
    color:white;
    

}

.footer-right a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }


.footer-right a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }

.footer-row p{
    line-height: 35px;
}

.footer-row {
    color: #fff;
}

.title-text {
    font-weight: bold;
    font-size: 20px;
    color: #DAA520;
    position: relative;
    padding-left: 100px;

}


























  
















