

body{

    background-color: floralwhite;
}


table {

    width: 500px;
    border-spacing: 60;
   
}






table, tbody, th , td  {

    background-color: #fff;
    text-align: center

}

tbody, tr , td  {

    font-size: 18px;
    letter-spacing: 2px;
    color: #000;
    text-align: center

}


body{

    background-color: #000;
    margin: 40px auto;
}